
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root{
    --clr1:#0B0D17;
    --clr2:#D0D6F9;
    --clr3:#FFF;
}
body{
    font-family: 'Barlow';
    background: url('./assets/home/background-home-desktop.jpg');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Bellefair";
    font-size: 150px;
}
h2{
    font-family: "Bellefair";
    font-size: 100px;
}
h3{
    font-family: "Bellefair";
    font-size: 56px;
}
h4{
    font-family: "Bellefair";
    font-size: 32px;
}
h5{
    font-family: "Barlow Condensed";
    letter-spacing: 4.75;
    font-size: 28px;
}
.sh1{
    font-family: 'Bellefair';
    font-size: 28px;
}

.sh2{
    font-family: 'Barlow Condensed';
    font-size:14px;
    letter-spacing: 2.35;
}